@font-face {
    font-family: 'Circular Std';
    src: url('./fonts/Circular/CircularStd-MediumItalic.eot');
    src: local('Circular Std Medium Italic'), local('CircularStd-MediumItalic'),
        url('./fonts/Circular/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Circular/CircularStd-MediumItalic.woff2') format('woff2'),
        url('./fonts/Circular/CircularStd-MediumItalic.woff') format('woff'),
        url('./fonts/Circular/CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./fonts/Circular/CircularStd-Black.eot');
    src: local('Circular Std Black'), local('CircularStd-Black'),
        url('./fonts/Circular/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Circular/CircularStd-Black.woff2') format('woff2'),
        url('./fonts/Circular/CircularStd-Black.woff') format('woff'),
        url('./fonts/Circular/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./fonts/Circular/CircularStd-Medium.eot');
    src: local('Circular Std Medium'), local('CircularStd-Medium'),
        url('./fonts/Circular/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Circular/CircularStd-Medium.woff2') format('woff2'),
        url('./fonts/Circular/CircularStd-Medium.woff') format('woff'),
        url('./fonts/Circular/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./fonts/Circular/CircularStd-Bold.eot');
    src: local('Circular Std Bold'), local('CircularStd-Bold'),
        url('./fonts/Circular/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Circular/CircularStd-Bold.woff2') format('woff2'),
        url('./fonts/Circular/CircularStd-Bold.woff') format('woff'),
        url('./fonts/Circular/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./fonts/Circular/CircularStd-BlackItalic.eot');
    src: local('Circular Std Black Italic'), local('CircularStd-BlackItalic'),
        url('./fonts/Circular/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Circular/CircularStd-BlackItalic.woff2') format('woff2'),
        url('./fonts/Circular/CircularStd-BlackItalic.woff') format('woff'),
        url('./fonts/Circular/CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('./fonts/Circular/CircularStd-BookItalic.eot');
    src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
        url('./fonts/Circular/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Circular/CircularStd-BookItalic.woff2') format('woff2'),
        url('./fonts/Circular/CircularStd-BookItalic.woff') format('woff'),
        url('./fonts/Circular/CircularStd-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./fonts/Circular/CircularStd-BoldItalic.eot');
    src: local('Circular Std Bold Italic'), local('CircularStd-BoldItalic'),
        url('./fonts/Circular/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Circular/CircularStd-BoldItalic.woff2') format('woff2'),
        url('./fonts/Circular/CircularStd-BoldItalic.woff') format('woff'),
        url('./fonts/Circular/CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('./fonts/Circular/CircularStd-Book.eot');
    src: local('Circular Std Book'), local('CircularStd-Book'),
        url('./fonts/Circular/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Circular/CircularStd-Book.woff2') format('woff2'),
        url('./fonts/Circular/CircularStd-Book.woff') format('woff'),
        url('./fonts/Circular/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

