.container{
    display: grid;
    --gap:0;
    grid-template-columns: repeat(12,calc(calc(100% - calc(var(--gap) * 11)) / 12));
    padding: 0 15px;
    grid-gap: var(--gap);
    grid-row-gap: 0;
    width: 100%;
    @media (min-width:576px) {
        --gap:30px;
    }
    @media (min-width:768px) {
    }
    @media (min-width:992px) {
    }
    @media (min-width:1200px) {
    }
    @media (min-width:1400px) {
    }
}
.col{
    max-width: 100%;
    @for $var from 1 to 13 {
        &-#{$var}{
            grid-column: span #{$var};
        }
    }
    @media (min-width:576px) {
        @for $var from 1 to 13 {
            &-sm-#{$var}{
                grid-column: span #{$var};
            }
        }
    }
    @media (min-width:768px) {
        @for $var from 1 to 13 {
            &-md-#{$var}{
                grid-column: span #{$var};
            }
        }
    }
    @media (min-width:992px) {
        @for $var from 1 to 13 {
            &-lg-#{$var}{
                grid-column: span #{$var};
            }
        }
    }
    @media (min-width:1200px) {
        @for $var from 1 to 12 {
            &-xl-#{$var}{
                grid-column: span #{$var};
            }
        }
    }
    @media (min-width:1400px) {
        @for $var from 1 to 13 {
            &-xxl-#{$var}{
                grid-column: span #{$var};
            }
        }
    }
}