a,.a{
    font-size: pixelToRem(28px);
    font-weight: normal;
    line-height: inherit;
    letter-spacing: normal;
    color: var(--dusk);
    cursor: pointer;
    &.cancel{
        color: var(--light-salmon);
    }
    &.before{
        font-size: pixelToRem(40px);
        color: var(--white); 
        svg{
            margin-right: pixelToRem(30px);;
        }
    }
    &.noDecoration{
        text-decoration: none;
    }
}