.align-center{
    justify-content: center;
    text-align: center;
}
.align-right{
    justify-content: flex-end;
    text-align: right;
}
.align-left{
    justify-content: flex-start;
    text-align: left;
}