.bg {
    &-gradient {
        background-image: url(/img/backgroundBody.svg),
            linear-gradient(332deg, var(--dusk) 0%, var(--midnight-blue) 100%);
        background-size: cover,cover;
    }
}
