button,
.btn {
    width: pixelToRem(550px);
    height: pixelToRem(112px);
    max-width: 100%;
    padding: pixelToRem(30px);
    border-radius: max(15px, #{pixelToRem(30px)});
    background-color: var(--french-blue);
    box-shadow: inset 0 0 0 3px var(--french-blue);
    text-align: center;
    border: 0;
    cursor: pointer;
    outline: none;

    font-size: pixelToRem(32px);
    font-weight: 900;
    line-height: 1;
    color: var(--white);

    transition: 0.5s;
    text-decoration: none;
    &-2 {
        box-shadow: inset 0 0 0 3px var(--pinkish-grey-five);
        background-color: var(--white-two);
        color: var(--greyish);
        &:hover {
            color: var(--white);
            box-shadow: inset 0 0 0 3px var(--french-blue);
            background-color: var(--french-blue);
        }
    }
    &.disabled {
        box-shadow: inset 0 0 0 3px var(--pinkish-grey-five);
        background-color: var(--white-two);
        color: var(--greyish);
        cursor: not-allowed;
        &:hover {
            box-shadow: inset 0 0 0 3px var(--pinkish-grey-five);
            background-color: var(--white-two);
            color: var(--greyish);
        }
    }
    &:hover {
        color: var(--french-blue);
        background-color: var(--white);
        // background-color: var(--pinkish-grey-2);
    }
}
