.notification {
    display: inline-flex;
    padding: pixelToRem(15px) pixelToRem(25px);
    transition: 0.5s;
    max-width: 100%;
    animation: showNotification 5s forwards,hiddenNotification  1s forwards;
    animation-delay: 0s,5.1s;
    @keyframes showNotification {
        0%{
            transform: translateX(200%);
        }
        20%{
            transform: translateX(0%);
        }
        80%{
            transform: translateX(0%);
        }
        100%{
            transform: translateX(200%) ;    
        }
    }
    @keyframes hiddenNotification {
        to{
            transform: translateX(200%) ;  
            height: 0;
            width: 0;
            padding: 0;
            opacity: 0;
            font-size: 0;
        }
    }
}
.contentNotification{
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;

}