.select{
    position: relative;
    display: inline-block;
    max-width: 100%;
    &:not(.active){
        .options{
            display: none;
        }
    }
    .input{
        cursor: pointer;
        caret-color:transparent;
    }
    .icon{
        display: inline-block;
        position: absolute;
        top:0;
        right:pixelToRem(40px);
        bottom:0;
        margin:auto;
        width: pixelToRem(25px);
        height: pixelToRem(17px);
    }
    &.invert{
        .options{
            top: inherit;
            bottom: calc(100% - 25px);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: max(15px, #{pixelToRem(30px)});
            border-top-right-radius: max(15px, #{pixelToRem(30px)});
        }
    }
    .options{
        position: absolute;
        z-index: 9999;
        width: 100%;
        height: auto;
        max-height: 300px;
        overflow: auto;
        top: calc(100% - 23px);
        left: 0;
        background: #fff;
        padding:  pixelToRem(25px)  pixelToRem(40px);
        box-shadow: 0 5px 6px 0 var(--black-16);
        border-bottom-left-radius: max(15px, #{pixelToRem(30px)});
        border-bottom-right-radius: max(15px, #{pixelToRem(30px)});
        .option{
            font-size: pixelToRem(27px);
            font-weight: normal;
            line-height: 2.2;
            color: var(--warm-grey-two);
            cursor: pointer;
        }
        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--dusk);
            border-radius: 10px;
            border: none;
        }

    }
}