@for $var from 1 to 101 {
    .vh-#{$var}{
        height: #{$var}vh;
    }
    .vw-#{$var}{
        width: #{$var}vw;
    }
    .min-vh-#{$var}{
        min-height: #{$var}vh;
    }
    .min-vw-#{$var}{
        min-width: #{$var}vw;
    }
    .max-vh-#{$var}{
        max-height: #{$var}vh;
    }
    .max-vw-#{$var}{
        max-width: #{$var}vw;
    }
    .w-#{$var}{
        width: #{$var+"%"};
    }
    .min-w-#{$var}{
        min-width: #{$var+"%"};
    }
    .max-w-#{$var}{
        max-width: #{$var+"%"};
    }
}
@for $var from 1 to 1001 {
    .wp-#{$var}{
        width: min(100%, #{pixelToRem($var*1px)});
    }
    .min-wp-#{$var}{
        min-width: min(100%, #{pixelToRem($var*1px)});
    }
    .max-wp-#{$var}{
        max-width: min(100%, #{pixelToRem($var*1px)});
    }
}