table,
.table {
    border-collapse: collapse;
    box-shadow: 0 0 0 1px var(--pinkish-grey-four), 0 3px 6px 0 var(--black-16);
    background-color: var(--white);
    border-radius: pixelToRem(28px);
    thead{
        border-bottom: 1px solid var(--warm-grey-three);
        border-radius: pixelToRem(28px);
        th {
            font-size: pixelToRem(18px);
            font-weight: 500;
            line-height: 1;
            color: var(--warm-grey-two);
            padding: pixelToRem(15px) pixelToRem(20px);
            border-radius: pixelToRem(28px);
            text-align: center;
        }
    }
    tbody{
        td{
            padding: pixelToRem(10px) pixelToRem(20px);
            font-size: pixelToRem(16px);  
            font-weight: 500;
            color: var(--warm-grey);
            text-align: center;
        }
    }
}
.contentTable{
    overflow: auto;
    padding: 1px;
    padding-bottom: 10px;
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--dusk);
        border-radius: 10px;
        border: none;
    }
}
