h1,h2,h3,h4,h5,h6{
    margin: 0;
}
h1,
.h1 {
    font-size: pixelToRem(84px);
    font-weight: 900;
    line-height: 1;
    color: var(--black);
}
h2,
.h2 {
    font-size: pixelToRem(66px);
    font-weight: 900;
    line-height: 1.39;
    color: var(--white);
}
h3,
.h3 {
    font-size: pixelToRem(55px);
    font-weight: 900;
    line-height: 1.4;
    color: var(--white);
}
h4,
.h4 {
    font-size: pixelToRem(49px);
    font-weight: 900;
    line-height: 2.9;
    color: var(--black);
}
h6,
.h6 {
    font-size: pixelToRem(31px);
    font-weight: 900;
    line-height: 1;
    color: var(--black-two);
}
