:root {
    --dusk: #3c506e;
    --midnight-blue: #020047;
    --white: #fff;
    --clear-blue: #267dff;
    --brownish-grey: #6d6d6d;
    --black: #000;
    --warm-grey: #a2a2a2;
    --dark-slate-blue: #1b3554;
    --seafoam-green: #7dfba5;
    --french-blue: #465da7;
    --pinkish-grey: #c6c6c6;
    --pinkish-grey-two: #bababa;
    --cool-grey: #96999c;
    --black-16: rgba(0, 0, 0, 0.16);
    --warm-grey-two: #827c7c;
    --pinkish-grey-three: #cacaca;
    --warm-grey-three: #807e7e;
    --pinkish-grey-four: #c9c9c9;;
    --light-salmon: #ff9b9b;
    --pinkish-grey-five: #c0c0c0;
    --white-two: #e7e7e7;
    --greyish: #b7b7b7;
    --greyish-two: #afafaf;
    --pinkish-grey-2: hsl(0deg 0% 78% / 20%);
    --brownish-grey-two: #616161;
    --black-two: #3b3636;
}
$colors: dusk,midnight-blue,white,clear-blue,brownish-grey,black,warm-grey,dark-slate-blue,seafoam-green,french-blue,pinkish-grey,pinkish-grey-two,cool-grey,black-16,warm-grey-two,pinkish-grey-three,warm-grey-three,pinkish-grey-four,light-salmon,pinkish-grey-five,white-two,greyish,greyish-two,pinkish-grey-2,brownish-grey-two,black-two;
@each $color in $colors {
    .color-#{$color} {
        color:var(--#{$color});
    }
    .bg-#{$color} {
        background-color:var(--#{$color});
    }
    .border-#{$color} {
        border-color:var(--#{$color});
    }
}