html{
    overflow: auto;
    font-family: 'Circular Std';
    font-size: 11px;
    line-height: 1;
    letter-spacing: 0;
    @media (min-width:576px) {
        font-size: 11px;
    }
    @media (min-width:768px) {
        font-size: 11px;
    }
    @media (min-width:992px) {
        font-size: 12px;
    }
    @media (min-width:1200px) {
        font-size: 14px;
    }
    @media (min-width:1400px) {
        font-size: 16px;
    }
}
body{
    overflow: hidden;
    min-height: 100vh;
    transition: .5s;
    background-image: url(/img/backgroundBody.svg);
    background-size: cover ;
    background-position: center left;
}
*{
    box-sizing: border-box;
}